<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pluu.androidcrashsample" >

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.pluu.demo.DemoMainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CrashActivity"
            android:label="@string/title_activity_crash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.crash.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.JniActivity"
            android:label="@string/title_activity_jni" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.crash.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
